
.tshirt-display{
    display: flex;
    flex-wrap: wrap;
    background-color: lightblue;
    width: 1100px;
    justify-content: center;
    align-items: center;
  }
  
.body{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px ;
}